objs/
dist/README-SDL.txt
dist/README-libpng.txt
dist/game.ilk
dist/game.pdb
dist/SDL2.dll
dist/game
dist/game.exe
maek-cache.json
maek-converter-cache.json
dist/convert_levels.exe
dist/convert_levels.pdb
output_of_asset_gen/
.vscode/